<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50215282578-1ma07o1qfjuqu1s3r38f6brc571028nk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50215282578-1ma07o1qfjuqu1s3r38f6brc571028nk</string>
	<key>API_KEY</key>
	<string>AIzaSyA8CWXlqJQIawUjI_ekgqicN0d1OhXGgkA</string>
	<key>GCM_SENDER_ID</key>
	<string>50215282578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jawn.New-Wave-Store</string>
	<key>PROJECT_ID</key>
	<string>newwavestore-b497a</string>
	<key>STORAGE_BUCKET</key>
	<string>newwavestore-b497a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50215282578:ios:4f244cf2a283796166834b</string>
</dict>
</plist>